<%= form_for([@post, @post.comments.build]) do |f| %>
	<h5><%= f.text_field :name, placeholder: "Your name (required)" %> </h5>
	<h4><%= f.text_area :body, placeholder: "Comment" %> </h4>
	<%= button_tag(type: 'submit', class: "btn btn-success") do %>
 Post
<% end %>
<% end %>