    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>A wondering soul, always in search of something/someone who inspires, lets her grow and be the best she can be. Identifies as Buddhist, is a "semi-active" Buddhist practioner though. Tibetan Buddhism, it's history and the mystical world is what fasinates her.</p>
                <p>Hi, She is Dhamtsik Doma. You can call her Zieh if that's easier. A strong aries, passionate about life and learning. Sees the world as an open learning institute AND believes everything that moves, sits, passes by are a lesson in it's own right. </p>
                <p>Plays guitar. Often finds herself in lost thought. Gets excited about period movies. Lately, she has discovered the crazy world of coding, you can find her infront of her computer, listening to musics from the world, coding and sometimes watching dog vidoes on youtube. </p>
            </div>
        </div>
    </div>

    <hr>
