    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>A wandering soul, always in search of something/someone who inspires, lets me grow and be the best I can be. I Identify as a Buddhist, a "semi-active" Buddhist practioner to be precise, in the sense, Buddhism is a part of my culture. Tibetan Buddhism, it's history and it's mystical world  fasinates me.</p>

                <p>Hi, I am Dhamtsik Doma. You can call me Zieh(Zee) if that's easier to pronounce. A strong aries, passionate about life and learning, I see the world as an open learning institute AND I believe everything that moves, sits, passes by have a lesson to teach and one can learn a lot by just being mindful of one's surroundings.</p>

                <p>Lately, I have discovered the fun world of coding. When I am not working, I am usually in front of my computer, listening to music from around the world, coding, sometimes watching dog vidoes on youtube or foreign movies without subtitles or playing guitar. </p>

                <p>On this site, you will find my words, thoughts, experiences, stories, observations and anything that I find interesting to share with the world. Welcome.</p>
            </div>
        </div>
    </div>

    <hr>
