    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>A wondering soul, always in search of something/someone who inspires, lets her grow and be the best she can be. Identifies as a Buddhist, is a "semi-active" Buddhist practioner though. Tibetan Buddhism, it's history and it's mystical world are what fasinates her.</p>
                <p>Hi, She is Dhamtsik Doma. You can call her Zieh if that's easier. A strong aries, passionate about life and learning, she sees the world as an open learning institute AND believes everything that moves, sits, passes by are a lesson in it's own right. </p>
                <p>Plays guitar. Often finds herself lost in thought. Gets excited about period movies. Lately, she has discovered the fun world of coding, you can find her in front of her computer, listening to music from around the world, coding and sometimes watching dog vidoes on youtube. </p>

                <p>On this site, you will find her words, thoughts, experiences, stories, observations and anything that she finds interesting to share with the world. Welcome.</p>
            </div>
        </div>
    </div>

    <hr>
